*.gcda
*.gcno
*.o
*.pyc
build/
curl-fuzzer---*
/curl_fuzzer
/curl_fuzzer_seed_corpus.zip
extra_corpus/
libstandaloneengine.a
/curl_fuzzer_bufq
/curl_fuzzer_dict
/curl_fuzzer_file
/curl_fuzzer_fnmatch
/curl_fuzzer_ftp
/curl_fuzzer_gopher
/curl_fuzzer_http
/curl_fuzzer_https
/curl_fuzzer_imap
/curl_fuzzer_ldap
/curl_fuzzer_mqtt
/curl_fuzzer_pop3
/curl_fuzzer_rtmp
/curl_fuzzer_rtsp
/curl_fuzzer_scp
/curl_fuzzer_sftp
/curl_fuzzer_smb
/curl_fuzzer_smtp
/curl_fuzzer_tftp
*_seed_corpus.zip

# Python
.venv/
__pycache__/
logs/
*.egg-info/

# Docs
docs/
