name: Build

'on':
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

permissions: {}

jobs:
  Mainline:
    name: 'Mainline'
    strategy:
      matrix:
        sanitizer:
          - address
          - memory

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Install Dependencies
        run: |
          sudo rm -f /etc/apt/sources.list.d/microsoft-prod.list
          sudo apt-get -o Dpkg::Use-Pty=0 update
          sudo rm -f /var/lib/man-db/auto-update
          sudo apt-get -o Dpkg::Use-Pty=0 install -y cmake clang ninja-build

      - name: Compile mainline
        env:
          # test with different "sanitizers"
          SANITIZER: ${{ matrix.sanitizer }}
        run: ./mainline.sh

  just_dependencies:
    name: 'Just dependencies'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Install Dependencies
        run: |
          sudo rm -f /etc/apt/sources.list.d/microsoft-prod.list
          sudo apt-get -o Dpkg::Use-Pty=0 update
          sudo rm -f /var/lib/man-db/auto-update
          sudo apt-get -o Dpkg::Use-Pty=0 install -y cmake clang ninja-build

      - name: Compile deps target
        run: ./scripts/compile_target.sh deps

  PythonTests:
    name: 'Python tests'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Install test dependencies
        run: pip install '.[python-tests]'

      - name: Run TLV constants sync test
        run: pytest tests/test_tlv_constants_sync.py
