# Copyright (C) Daniel Stenberg, <daniel@haxx.se>, et al.
#
# SPDX-License-Identifier: curl

name: 'Source'

'on':
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

permissions: {}

jobs:
  linters:
    name: 'linters'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: '3.14'

      - name: 'install prereqs'
        run: |
          /home/linuxbrew/.linuxbrew/bin/brew install zizmor
          pip --disable-pip-version-check --no-input --no-cache-dir install --progress-bar off --prefer-binary --group dev

      - name: 'zizmor GHA'
        env:
          GH_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
        run: |
          eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
          zizmor --pedantic .github/workflows/*.yml

      - name: 'ruff'
        run: |
          ruff --version
          git ls-files '*.py' -z | xargs -0 -r ruff check --

      - name: 'mypy'
        run: |
          mypy --version
          git ls-files 'src/*.py' -z | xargs -0 -r mypy --
