name: CI-i386

'on':
  push:
    branches:
      - master
      - main
      - '*/ci'
  pull_request:
    branches:
      - master
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

permissions: {}

jobs:
  # Ensure that the repository can be built for i386
  Testi386:
    name: 'Test i386'
    runs-on: ubuntu-latest
    steps:
      - name: Build Fuzzers
        uses: google/oss-fuzz/infra/cifuzz/actions/build_fuzzers@master  # zizmor: ignore[unpinned-uses]
        with:
          oss-fuzz-project-name: 'curl'
          dry-run: false
          keep-unaffected-fuzz-targets: true
          architecture: 'i386'
