name: CI
'on':
  push:
    branches:
      - master
      - main
      - '*/ci'
  pull_request:
    branches:
      - master
      - main
  # This makes the workflow callable by curl/curl
  workflow_call: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  BuildFuzzers:
    runs-on: ubuntu-latest
    steps:
    # Use the CIFuzz job to test the repository.
    - name: Build Fuzzers
      uses: google/oss-fuzz/infra/cifuzz/actions/build_fuzzers@master
      with:
        oss-fuzz-project-name: 'curl'
        dry-run: false
        keep-unaffected-fuzz-targets: true

    # Archive the fuzzer output (which maintains permissions)
    - name: Create fuzz tar
      run: tar cvf fuzz.tar build-out/

    # Upload the fuzzer output
    - name: Archive fuzz tar
      uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808 # v4
      with:
        name: fuzz_tar
        path: fuzz.tar

  RunFuzzers:
    needs: BuildFuzzers
    runs-on: ubuntu-latest
    strategy:
      matrix:
        fuzzer:
          - curl_fuzzer_bufq
          - curl_fuzzer_dict
          - curl_fuzzer_file
          - curl_fuzzer_ftp
          - curl_fuzzer_gopher
          - curl_fuzzer_http
          - curl_fuzzer_https
          - curl_fuzzer_imap
          - curl_fuzzer_mqtt
          - curl_fuzzer_pop3
          - curl_fuzzer_rtsp
          - curl_fuzzer_smb
          - curl_fuzzer_smtp
          - curl_fuzzer_tftp
          - curl_fuzzer_ws
          - curl_fuzzer
          - fuzz_url
    steps:
      - uses: actions/download-artifact@9c19ed7fe5d278cd354c7dfd5d3b88589c7e2395 # v4
        with:
          name: fuzz_tar
      - name: Unpack fuzzer ${{ matrix.fuzzer }}
        run: tar xvf fuzz.tar build-out/${{ matrix.fuzzer }} build-out/${{ matrix.fuzzer }}_seed_corpus.zip
      - name: Display extracted files
        run: ls -laR build-out/
      - name: Run Fuzzer ${{ matrix.fuzzer }}
        uses: google/oss-fuzz/infra/cifuzz/actions/run_fuzzers@master
        with:
          oss-fuzz-project-name: 'curl'
          fuzz-seconds: 120
          dry-run: false
      - name: Upload Crash
        uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808 # v4
        if: failure()
        with:
          name: artifacts
          path: ./out/artifacts
